body {
    background-color: #e2ceb5;
}

.wrapper {
    background-color: #ffff;
    border-radius: 30px;
}

.flash.ok {
    color: #198754;
    font-weight: bold;
}

.flash.bad {
    color: #dc3545;
    font-weight: bold;
}