{% extends 'base.html' %}
{% block title %}
Блог
{% endblock %}

{% block main %}
{{ ckeditor.load() }}
<div class="nav-scroller py-1 mb-3 border-bottom">
    <h2>Категории:</h2>
    <nav class="nav nav-underline">
        <a class="nav-item nav-link link-body-emphasis " href="/blog">Все</a>
        {%for category in articles_category%}
        <a class="nav-item nav-link link-body-emphasis"
            href="/blog?category={{category.category}}">{{category.category}}</a>
        {%endfor%}
    </nav>
</div>
{%if 'name' in session and active_user.root==1%}
<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Добавить запись
</button>
{%endif%}
{% with messages = get_flashed_messages(True) %}
{% if messages %}
{% for category, message in messages %}
<p class="m-2 flash {{category}}">{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Модальное окно -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление записи</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Название" required name="title">
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Категория" required name="category">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Изображение</label>
                        <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="image" accept=".jpg,.jpeg,.png">
                    </div>
                    <div class="mb-3">
                        <h3>Содержимое</h3>
                        {{ ckeditor.create() }}
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="album py-5">
    <h1 class="mx-3">Блог</h1>
    <div class="row row-cols-sm-1 g-3">

        {%for article in articles%}
        <div class="col ">
            <div class="card shadow-sm m-3">
                <div class="row">
                    <div class="col">
                        <img src="../static/img/upload/{{article.image_name}}" class="img-fluid" alt="">
                    </div>
                    <div class="col d-flex align-items-center justify-content-center flex-column text-center">
                        <h3>{{article.title}}</h3>
                        <p class="text-body-secondary">Категория: {{article.category}}</p>
                        <p class="text-body-secondary">Дата: {{article.date.strftime('%d.%m.%Y %H:%M')}}</p>
                        <a href="/article/{{article.id}}" class="btn btn-primary">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}



    </div>
</div>
{% endblock %}