{% extends 'base.html' %} {% block title %} Регистрация как репетитор {%
endblock %} {% block main %} {{ ckeditor.load() }}
<main class="">
  <form class="w-75 mx-auto" method="post" enctype="multipart/form-data">
    <h1 class="">Регистрация как репетитор</h1>
    {% with messages = get_flashed_messages(True) %} {% if messages %} {% for
    category, message in messages %}
    <p class="m-2 flash {{category}}">{{message}}</p>
    {% endfor %} {% endif %} {% endwith %}
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Имя"
        name="name"
        required
        maxlength="20"
        minlength="2"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Фамилия"
        name="surname"
        required
        maxlength="20"
        minlength="2"
      />
    </div>
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email"
        name="email"
        required
        maxlength="20"
        minlength="10"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Пароль"
        required
        maxlength="20"
        minlength="5"
      />
    </div>
    <div class="mb-3">
      <input
        type="number"
        class="form-control"
        placeholder="Цена руб/ч"
        required
        name="price"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Предмет"
        required
        name="category"
        maxlength="30"
        minlength="5"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Город"
        required
        name="city"
        maxlength="20"
        minlength="5"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Изображение</label>
      <input
        type="file"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="image"
        required
        accept=".jpg,.jpeg,.png"
      />
    </div>
    <div class="mb-3">
      <h3>Описание</h3>
      {{ ckeditor.create() }}
    </div>

    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </form>
</main>
{% endblock %}
