{% extends 'base.html' %}
{% block title %}
Репетитор {{user.name}} {{user.surname}}
{% endblock %}

{% block main %}
{{ ckeditor.load() }}
<main>

    <div class="row">
        {% with messages = get_flashed_messages(True) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="m-2 flash {{category}}">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        <div class="col-md-6">
            <h1>{{user.name}} {{user.surname}}</h1>
            <h3>Дисциплина: {{teacher.subject}}</h3>
            <h3>Цена : {{teacher.price}} руб/ч</h3>
            <h3>Город : {{teacher.city}}</h3>
            <h3>Описание</h3>
            <div class="text-wrap">
                {% autoescape false %}
                {{teacher.desciption}}
                {% endautoescape %}
            </div>
            


            <div class="my-3">
                <h3>Лайки: {{user.likes}}</h3>
                {%if 'name' in session %}
                <a href="/add_likes/{{user.id}}/{{teacher.id}}" class="btn btn-primary">Мне нравится!</a>
                {%else%}
                <small>Авторизуйтесь чтобы оставлять лайки и писать комментарии!</small>
                {%endif%}
            </div>

            {%if 'admin' in session%}
            <!-- Кнопка-триггер модального окна -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Изменить
            </button>

            <a href="/delete-teacher/{{teacher.id}}" class="btn btn-danger">Удалить</a>
            {%else %}
         


            {%if user.email==active_user.email %}
            <h3>Это ваша анкета!</h3>
            {%else%}

            {%if 'name' in session and teacher.id not in id_list and active_user.root==0%}
            <a href="/order/{{teacher.id}}" class="btn btn-primary">Заказать репетитора</a>

            {%elif teacher.id in id_list%}
            <a href="/order-delete/{{teacher.id}}" class="btn btn-outline-danger">Отказаться от репетитора</a>

            {%elif active_user.root==2%}
            <h3>Репетиторы не могут заказывать других репетиторов!</h3>
            {%else%}
            <h3>Заказать репетитора можно только зарегистрированным пользователям!</h3>
            {%endif%}
            {%endif%}
            {%endif%}

           
            <!-- Модальное окно -->

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Изменить</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <h3>Цена руб/ч</h3>
                                    <input type="number" class="form-control" placeholder="Цена руб/ч" required name="price"
                                        value="{{teacher.price}}">
                                </div>
                                <div class="mb-3">
                                    <h3>Категория</h3>
                                    <input type="text" class="form-control" placeholder="Категория" required
                                        name="category" value="{{teacher.subject}}">
                                </div>
                                <div class="mb-3">
                                    <h3>Город</h3>
                                    <input type="text" class="form-control" placeholder="Город" required
                                        name="city" value="{{teacher.city}}">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Изображение</label>
                                    <input type="file" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" name="image" accept=".jpg,.jpeg,.png">
                                </div>
                                <div class="mb-3">
                                    <h3>Описание</h3>
                                    {{ ckeditor.create(value=teacher.desciption) }}
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <a href="../static/img/upload/{{teacher.image_name}}"><img src="../static/img/upload/{{teacher.image_name}}" alt="" class="img-fluid"></a>
            
        </div>
    </div>
    <hr>
    <div class="my-3">
        {%if 'name' in session and active_user %}
        <h2>Добавить комментарий:</h2>
        <form action="{{ url_for('add_comment', id_article=teacher.id) }}" method="post" class="w-50">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Ваше имя</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name" required value="{{active_user.name}} {{active_user.surname}}">             
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Ваш комментарий:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="5" required></textarea>
          </div>
        
          <button type="submit" class="btn btn-primary">Добавить</button>

          
        </form>
        <hr>
        {%endif%}
        <div>
          <h2>Комментарии:</h2>

          {%if comments%}

          {%for comment in comments%}
          <div class="border border-primary rounded p-3 my-4">
            <p>{{comment.text}}</p>
            <small>{{comment.date.strftime('%d.%m.%Y %H:%M')}}</small>
            <p class="text-end">От {{comment.name}}</p>
          </div>
          {%endfor%}

          {%else%}
            <p class="text-center">Комментариев нет!</p>
          {%endif%}
        </div>
      </div>

</main>
{% endblock %}